{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <form class="m-3" method="post">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="category" class="col-form-label">Category</label>
            </div>
            <div class="col-auto">
              <select name="category" id="category" class="form-select">
                {% if not category_selected %}
                    <option value="" disabled selected>Select a category</option>
                {% endif %}
                {% for category in categories %}
                    <option {% if category_selected == category.0 %} selected {% endif %} value="{{ category.0 }}">{{ category.1 }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-auto">
              <input type="submit" class="btn btn-secondary" value="submit">
            </div>
          </div>
    </form>

    <main class="container">
        {% for product in Listings %}
            <a href="{% url 'product' product.id %}">
                <article class="row border rounded mb-3">
                    <div class=" border-end col-md-4 align-center">
                        <img class="rounded m-2" height="200px" src="{{product.img_product}}"  alt="product.product_name">
                    </div>
                    <div class="col-md-8">
                        <h3>{{ product.product_name }}</h3> 
                        <h5>Category: {{ product.return_desc_category }}</h5>
                        <p class="fs-6"><strong>Price: $</strong>
                            {% if not product.bids.all %}
                                {{ product.start_bit }}
                            {% else %}
                                {{ product.bids.last.bid }}
                                {% if user.is_authenticated %}
                                    {% if product.bids.last.user.id == user.id and not product.closed %}
                                        Your bid is the currently one 🤞
                                    {% elif product.bids.last.user.id == user.id and product.closed %}
                                        Your bid won the listing 🎉
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="fs-6">{{ product.description }}</p>  
                        <p class="lead fs-6">{{ product.timestamp }}</p>
                    </div>
                </article>
            </a>
        {% endfor %}
    </main>

{% endblock %}